@import "../../styles/colors.scss";


.nav {
  background-color: $background_primary;
  height: 60px;
  position: fixed;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

  &__logo {
    background: url("../../assets/images/Logo_ML@2x.png");
    background-size: contain;
    height: 40px;
    width: 60px;
    background-repeat: no-repeat;
    margin-right: 20px;
  }

  &__container--search {
    background-color: $background_secondary;
    width: 70%;
    display: flex;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
    border-radius: 2px;
    input[type="text"] {
      height: 39px;
      width: 100%;
      border: 1px solid $background_secondary;
      outline: none;
      padding-left: 15px;
      font-size: 1em;
      color: #333;

      &::placeholder {
        color: $placeholder_primary
      }
    }

    input[type="button"] {
      width: 50px;
      height: 43px;
      cursor: pointer;
      border: 1px solid $border_primary;
      background: $background_secondary;
      outline: none;
      border-left: 1px solid $border_secondary;
      background: url("../../assets/images/ic_Search.png");
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}