$background_primary: #fff159;
$background_secondary: #fff;
$background_third: #e6e6e6;

$placeholder_primary: #DFDDDD;

$border_primary: #fff;
$border_secondary: #e6e6e6;


$icons_color_primary: #666;
